.search-container{
	display: flex;
	margin:0;
	flex-direction: row;
	row-gap: 1rem;
	height: 2rem;
	justify-content: center;
	background-color: white;
	border-radius: 0.2rem;
	padding: 0.2rem;
	cursor: pointer;
	max-width: 100%;
}

.search-placeholder{
	font-size: 12px;
	color: gray;
}



.search-icon{
	color: var(--web-color2);
	color: var(--web-color2);
	top:0.5rem;

}

.submit{
	margin: 0;
	height:100%;
	padding: 0 0.5rem;
	background-color: var(--web-color9);
	color: var(--web-color2);
	border-radius: 0.1rem;
	border: 2px solid var(--web-color9);
	cursor: pointer;
}