.cart{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.2rem;
	color: var(--web-color7);
	border-radius: 25%;
	font-weight: 700;
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 2rem;
	height: 2rem;

}
.cart:hover{
	color:var(--web-color9);
	transform: scale(1.1);
}

.cart-count{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	width: 1.2rem;
	height: 1.2rem;
	top:0;
	background-color: var(--style-color1);
	border-radius: 50%;
	color: white;
	font-size: 12px;
	font-size: 10px;
	left: 1.2rem;
}

.cart-content{
	width: min(20rem, 80vw);
	height: 60vh;
	background-color: var(--web-color8);
}