.login{
display: flex;
flex-direction: column;
gap: 1.5rem;

}

.login > input{
	text-indent: 0.5rem;
}
.input-control{
	position: relative;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-auto-rows: 2rem;
	column-gap: 0.5rem;

}

.input-control > *{
	height: 2rem;
	display: flex;
	justify-content: left;
	align-items: center;
	
}

.input-control > input {
	text-indent: 0.5rem;
}


.login > button[type='submit']{
	background-color: var(--web-color1);
	grid-column: 1/3;
	color:var(--web-color9);
	cursor: pointer;
	border: 1px solid black;
	border-radius: 0.2rem;
	height: 2rem;
}

.page-label{
	margin-bottom: 2rem;
	color: var(--web-color1);
	text-align: center;
}

.password-toggler{
	cursor: pointer;
	position: absolute;
	transform: scale(0.8);
	right: 1rem;

}