.register{
	color: var(--web-color1);
	width:min(400px, 80vw);
	box-shadow: 0 0 4px var(--web-color1);
	border-radius: 0.5rem;
	padding: 2rem 1rem;
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
	font-size: 13px;
	align-content: center;
}
.input_group{
	display:grid;
	grid-template-rows: 3fr 1fr;
	grid-template-columns: 1.5fr 3fr;
	grid-template-areas: 
	"inputname inputblock inputblock"
	" . error error";

}
.input_group > label {
	grid-area: inputname;
	display: flex;
	justify-content: left;
	align-items: center;
}

.form_input, .form_input_error{
	border-radius: 2px;
	text-indent: 0.5rem;
	grid-area: inputblock;
}
.error {
	grid-area: error;
	font-size: 10px;
	color:red;
}
.form_input{
		border: 1px solid grey;
}

.form_input_error{
		border: 2px solid red;
}


.form *{
	height: 2rem;
}
.submit{
	grid-column: 1/3;
	margin: 0 3rem;
	color: var(--web-color9);
	background-color: var(--web-color1);
	border: 1px solid black;
	border-radius: 0.5rem;
	cursor: pointer;
}
.submit:hover{
	box-shadow: 0 0 3px var(--web-color1);
	color: white;
}

.title{
	margin-bottom: 3rem;
	text-align: center;
}

