.product-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(15rem,0.8fr));
  list-style-type: none;
  justify-content: center;
  width:80%;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  margin: 2rem 0;
  text-align: center;


}

.product{
  display: grid;
  grid-template-rows: 3.5fr 0.5fr 0.5fr 1fr;
  background-color: var(--brown6);
  border-radius: 0.5rem;
  height: 100%;

}

.product > img{
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.to-cart{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.favorite,.no-favorite{
  cursor: pointer;
}

.favorite{
  color: orange;
}


.add-to-cart{
  background-color: var(--brown3);
  color:white;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--brown6);
  cursor: pointer;
}
.add-to-cart:hover{
  background-color: var(--brown1);
}

.price{
  font-weight: 600;
  font-size: 18px;
  color: var(--brown1);
}