.product-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(8rem,1fr));
  grid-auto-rows: 16rem;
  list-style-type: none;
  justify-content: center;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  margin: 2rem 3rem 2rem 3rem;
  text-align: center;
  max-width: 100%;
  place-content: center;
  padding: 0.5rem;
}

.product{
  display: grid;
  grid-template-areas:
  "pic pic pic"
  "pic pic pic"
  "name name name"
  "price price cart";
  grid-template-rows: 3.5fr 0.5fr 0.5fr 0.5fr ;
  background-color: var(--web-color9);
  border-radius: 0.5rem;
  row-gap: 0.2rem;
  position: relative;
}

.image{
   cursor: pointer;
  border-radius: inherit;
  grid-area: pic;
}
.image > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;

}
.name{
  grid-area: name;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.favorite,.no-favorite{
  cursor: pointer;
}


.favorite{
  color: var(--style-color1);
}
.no-favorite{
  color:var(--style-neutral);
}

.favorite:hover{
  transform: scale(1.1);
}


.price{
  font-weight: 600;
  font-size: 12px;
  color: var(--web-color1);
  word-wrap: none;
  grid-area: price;
  align-self: center;
}

.instock,.notInStock{
  position: absolute;
  top:0.5rem;
  left: 0.5rem;
  font-size: 10px;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}
.instock{
  background-color: var(--web-color9);
  color: var(--web-color1);
}
.notInStock{
  background-color: var(--style-neutral);

}