.product-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(10rem,0.8fr));
  list-style-type: none;
  justify-content: center;
  width:80%;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  margin: 2rem 0;
  text-align: center;
}

.product{
  display: grid;
  grid-template-rows: 3.5fr 0.5fr 0.5fr 1fr ;
  background-color: var(--web-color6);
  border-radius: 0.5rem;
  height: 100%;
  position: relative;
}

.image{
   cursor: pointer;
  border-radius: inherit;
  z-index: 0;
  width: 100%;
  height: 200px;

}
.image > img{
  height: 100%;
}

.to-cart{
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.favorite,.no-favorite{
  cursor: pointer;
}


.favorite{
  color: var(--style-color1);
}
.no-favorite{
  color:var(--style-neutral);
}

.favorite:hover{
  transform: scale(1.1);
}


.add-to-cart{
  background-color: var(--web-color3);
  color:white;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--web-color6);
  cursor: pointer;
  font-size: 10px;
}
.add-to-cart:hover{
  background-color: var(--web-color1);
}

.price{
  font-weight: 600;
  font-size: 12px;
  color: var(--web-color1);
  word-wrap: none;
}

.instock,.notInStock{
  position: absolute;
  top:0.5rem;
  left: 0.5rem;
  font-size: 10px;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}
.instock{
  background-color: var(--web-color9);
  color: var(--web-color1);
}
.notInStock{
  background-color: var(--style-neutral);

}