.header{
	display: grid;
	grid-template-columns: 2fr auto 2fr;
	min-height: 5rem;
	background-color: var(--web-color1);
	color: white;
	justify-content: space-between;
	align-items: center;
	padding:0 2rem;
	position: sticky;
	width: 100%;
	top: 0;
	z-index: var(--highest-z-index);

}

.brand{
	cursor: pointer;
}

.brand-header{
	background-color: var(--web-color1);
	display: flex;
	padding: 1rem 1rem;
	color: var(--web-color9);
	width: 100%;
	justify-content: space-around;
}

.brand::before{
	content: 'Refidas Jeweries';
}


.navigation{
	display: flex;
	list-style: none;
	font-weight: 700;
	column-gap: 1.8rem;
	margin:0 2rem 0 auto;
	flex-flow: row;


}
.navigation >  *{
	font-weight: 500;
	color: var(--web-color9);
	cursor: pointer;
}
.navigation > *:hover{
	color: white;
}

.navigation > li > a {
	text-decoration: none;
}
.navigation-login{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.navigation-login > *{

	color:var(--web-color8);
	padding: 0.2rem;
	border-radius: 50%;
}
/*.navigation-login > *:hover{
	color: var(--web-color9);
	box-shadow: 0 0 0.5rem var(--web-color9);
}*/


.navigation-logout{
	padding: 0.5rem;
	background-color: var(--style-color1);
	border-radius: 0.5rem;
	color: white;
}
.navigation-logout:hover{
	background-color:var(--web-color9);
	color: var(--style-color1);
}

.user-option{
	padding: 1rem;
	background-color: var(--web-color8);
	position:fixed;
	margin: 5rem 0 0 0;
	width:100%;
	z-index: 5;
}

@media screen and (max-width:720px){
	.brand::before{
	content: 'RJ';
	}

	.navigation{
		margin: 0 0.5rem 0 0;
	}
}
