.header{
	display: flex;
	min-height: 5rem;
	background-color: var(--web-color1);
	color: white;
	justify-content: space-between;
	align-items: center;
	padding:0 2rem;
	position: sticky;
	top: 0;
	z-index: 100;

}

.brand{
	cursor: pointer;
}

.brand::before{
	content: 'Refidas Jeweries';
}

.navigation{
	display: flex;
	list-style: none;
	font-weight: 700;
	column-gap: 0.5rem;
	margin:0 3rem 0 auto;

}
.navigation >  *{
	font-weight: 500;
}
.navigation > li > a {
	text-decoration: none;
}
.navigation-login{
	display: flex;
	justify-content: center;
	align-items: center;
}
.navigation-login > *{

	color:var(--web-color8);
	padding: 0.2rem;
	border-radius: 50%;
}
.navigation-login > *:hover{
	color: var(--web-color9);
	box-shadow: 0 0 0.5rem var(--web-color9);
}


.navigation-logout{
	padding: 0.5rem;
	background-color: var(--style-color1);
	border-radius: 0.5rem;
	color: white;
}
.navigation-logout:hover{
	background-color:var(--web-color9);
	color: var(--style-color1);
}
@media screen and (max-width:720px){
	.brand::before{
	content: 'RJ';
	}
}
