.header{
	display: flex;
	min-height: 5rem;
	background-color: var(--brown1);
	color: white;
	justify-content: space-between;
	align-items: center;
	padding:0 2rem;
		position: sticky;
	top: 0;

}

.brand::before{
	content: 'Refidas Jeweries';
}

.navigation{
	display: flex;
	list-style: none;
	font-weight: 700;
	column-gap: 0.5rem;
	margin:0 3rem 0 auto;

}
.navigation > li > a {
	text-decoration: none;
}

.navigation-login{
	box-shadow: 0 0 2px var(--brown6);
	padding: 0.5rem;
	border-radius: 1rem;
}
.navigation-login > a{
	color: white
}
.navigation-logout{
	padding: 0.5rem;
	background-color: yellow;
	border-radius: 1rem;
}

@media screen and (max-width:720px){
	.brand::before{
	content: 'RJ';
	}
}
