.modal{
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	z-index: 100;
	color: var(--web-color8);
}
.spinner-container{

}

.spinner{
	display: inline-block;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	border-top: 0.2rem solid var(--web-color8);
	animation: spin 2s infinite linear;
}

.state-loading{
	display: flex;
	justify-content:center;
	align-items: center;
}

.state-loading > span{
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	border-top: 0.2rem solid var(--web-color8);
	animation: spin 2s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(720deg);
	}
}